<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!-- 	<span class="navbar-text"> -->
      <!-- 	  Blog -->
      <!-- 	</span> -->
      <!-- 	<div class="navbar-nav"> -->
      <!-- 	  <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> -->
      <!-- 	  <a class="nav-item nav-link" href="#">Features</a> -->
      <!-- 	  <a class="nav-item nav-link" href="#">Pricing</a> -->
      <!-- 	</div> -->

	
      <!-- </nav> -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<span class="navbar-brand"> Blog     </span>
	
	<div class="navbar-nav">
	  <a class="nav-item nav-link" href="#">Home </a>
	  <a class="nav-item nav-link" href="#">Features</a>
	  <a class="nav-item nav-link" href="#">Pricing</a>
	  
	</div>
      </nav>
      
      
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

